<!DOCTYPE html>
<html>
  <head>
    <title>ObeyTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="icon" type="image/png" href="https://obeytime-seeds.s3.amazonaws.com/favicon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
